@use 'variables' as v;

// Reset y estilos globales
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: v.$color-background;
    font-family: v.$font-primary;
    color: v.$color-white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: v.$font-primary;
}

input {
    font-family: v.$font-primary;
}