@use '../abstracts/variables' as v;

.footer {
    text-align: center;
    padding: 1.1rem;
    color: v.$color-accent-pale;
    font-size: 0.85rem;
    border-top: 1px solid v.$color-border-footer;
    margin-top: 1.25rem;

    &__text {
        margin: 0;
    }
}